.checkout {
    background-color: #EAEDED;
}
img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.checkout__layout {
    display: flex;
    /* justify-content: space-between; */
    margin: 20px;
}
.checkout__title {
    margin: 20px;
}

.checkout__left {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.checkout__right {
    background-color: white;
    display: flex;
    flex-direction: column;
}